In [1]:
import os
import sys

project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))

# Ajouter le chemin racine à sys.path
if project_root not in sys.path:
    sys.path.append(project_root)

In [2]:
# Dans leur Jupyter Notebook:
from Python.Backend.recup_data import recup_travel, recup_users

# Charger les deux datasets directement depuis le cloud:
df_users = recup_users()
df_travel = recup_travel()

# df_users est prêt pour la modélisation !
print(df_users.shape)

Succès : Données de la table 'users_generated' chargées. (1505 lignes)
Succès : Données de la table 'travel_generated' chargées. (8209 lignes)
(1505, 12)

In [3]:
df_users.tail(5)

,traveler_user_id,traveler_name,traveler_age,traveler_gender,traveler_nationality,profile_type,climate_pref,primary_dest_type,acc_pref,transport_core_modes,traveler_continent,mot_de_passe
1500,Vince,Vincent,22,Male,French,Aventure/Nature,Cold,Adventure/Nature,Airbnb,Bus;4x4,Europe,aaa
1501,Vinc,Vincent,22,Male,American,Aventure/Nature,Cold,Adventure/Nature,Airbnb,Bus,Africa,aaa
1502,Mor,Vincent,22,Male,American,Aventure/Nature,Cold,Adventure/Nature,Airbnb,Transports Publics,Africa,aaa
1503,Morin,Vincent,22,Male,American,Aventure/Nature,Cold,Adventure/Nature,Airbnb,Bus,Africa,aa
1504,Mathia,Mathias,22,Male,French,Exotique/Budget,Hot,Cultural/Nature,Villa,Bateau;Voiture;Tuk-Tuk;4x4,Europe,aa

In [4]:
liste = list(df_users["traveler_nationality"].unique()).sort()

In [5]:
df_users["transport_core_modes"].astype(str).str.split(";")

0       [Voiture (si isolé), Randonnée, Scooter]
1             [Bus, Tuk-Tuk, Transports Publics]
2                        [Voiture, Tuk-Tuk, Bus]
3                      [Métro, Tuk-Tuk, Voiture]
4                      [Vélo, Marche, Randonnée]
                          ...
1500                                  [Bus, 4x4]
1501                                       [Bus]
1502                        [Transports Publics]
1503                                       [Bus]
1504             [Bateau, Voiture, Tuk-Tuk, 4x4]
Name: transport_core_modes, Length: 1505, dtype: object

In [8]:
df_travel[df_travel["User ID"] == "U0001"].tail()

,Trip ID,User ID,Destination,Start date,End date,Duration (days),Traveler name,Traveler age,Traveler gender,Traveler nationality,Accommodation type,Accommodation cost,Average Daily Cost,Total cost,Local Transport Mode
0,T00001,U0001,"Yellowstone NP, USA",2017-04-21,2017-05-03,13,Rajesh,37,Male,Indian,Guesthouse,734.47,1053.95,1788.42,4x4
8208,T08209,U0001,"Paris, France",2025-12-02,2025-12-03,1,Rajesh,37,Male,Indian,Airbnb,500.00,1050.00,1550.00,Transports Publics


    {'city': 'Rome', 'country': 'Italy', 'type': 'City', 'climate': 'Temperate', 'continent': 'Europe', 'cost_level': 'Medium', 'prestige': 4}

In [7]:
city = "Malé"